h1{
  color:white;
  text-align: center;
}
.quizApp{
   background-color: #34495e;
  color: white;
  height: 60vh;
  width: 70%;
  margin: auto;
  margin-top: 15vh; 
display: flex;
align-items: center;
  border-radius: 15px;
  padding: 20px;
}
.score-section {
  display: flex;
  font-size: 2.4rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.question-section{
  margin-bottom: 10vh;
}
button {
  width: 100%;
  font-size: 18px;
  color: #ffffff;
  background-color: #2980b9;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  align-items: center;
  border: 5px solid #34495e;
  cursor: pointer;
  margin-bottom: 5px;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #7b86ac;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}